@media only screen and (max-width: 768px) {
    .search_bar {
      width: 80%;
    }
    .table_container{
    width: 100%;
    }
 
  }
  @media only screen and (max-width: 480px) {
    .search_bar {
      width: 100%;
    }
    .table_container{
        width: 100%;
     }
  }
  

  
